body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec, #bcccdc);
  color: #333;
  position: relative;
  overflow: hidden;
}

.App-header {
  max-width: 600px;
}

.App-logo {
  width: 150px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in;
}

h1 {
  font-size: 4em;
  margin: 0.5em 0;
  animation: fadeIn 2s ease-in;
  color: #2c3e50;
}

h2 {
  font-size: 2em;
  margin: 0.5em 0;
  animation: fadeIn 3s ease-in;
  color: #34495e;
}

p {
  font-size: 1.2em;
  margin: 0.5em 0;
  animation: fadeIn 4s ease-in;
  color: #7f8c8d;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

.wave {
  width: 100%;
  height: 100%;
}
